*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --ColorEncabezado: #000000;
  --ColorFuente: #e3ebc6;
}

.fondo{
  box-sizing: border-box;
}

body {
  background-color: var(--ColorFondo);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 90px 25px 0;
  padding-bottom: 45px;
  height: 3110px;
  display: flex;
  }

  body {
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:contain; 
  }

.header {
  background-color: var(--ColorEncabezado);
  position: fixed;
  /* height: 100px;  */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  /* border-bottom: 1px solid var(--ColorFuente); */
  opacity: 78%;
  
}


/***** Este es el contenedor del encabezado *****/
.nav-cabecera {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  margin: 0 auto;
}

.logos {
    display: flex;
    align-items: center;
}

/* Contenedor del Logo */
.header .logo-node img{
  width: auto;
  height: 60px;
  align-content:center;
  transition: all 0.3s;
}

.header .logo-node img:hover{
  transform: scale(1.1);
}

.logo-node {
  padding: 10px 20px;
}

/* Contenedor del Logo-cac */

.header .logo-cac img{
   align-content:center;
  transition: all 0.3s;
}

.header .logo-cac img:hover{
  transform: scale(1.1);
}

.logo-cac {
  padding: 5px 20px;
}

/* Contenedor del logo.instante */

.header .logo-instante img{
    /* align-content:center; */
   transition: all 0.3s;
 }
 
 .header .logo-instante img:hover{
   transform: scale(1.1);
 }


.nav-menu {
  display: flex;
  margin-right: 40px; 
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 47px; /*se controla  la alineacion vertical!*/
  width: max-content;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}


.nav-menu-link {
  color: white;
  text-decoration: none;
  padding: 18px 12px;
  transition: all 0.3s;
}


.nav-menu-link:hover {
  color: white;
  transform: scale(1.2);
  transition: 0.5s;  
}



/***** Integrantes *****/
/* .Integrantes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5% 5%;
  
}

.Cuerpo .Integrantes li{
  list-style: none;
}

.Imagen-Integrante img{
  width: 300px;
  height: 300px;
  border-radius: 25px;
  padding: 5% 5%;
}

.Imagen-Integrante img:hover{
  transition: all 0.3s; 
  transform: scale(1.3);
  filter: brightness(1.2);
}

.Integrante{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center    
}

h3 {
  color: var(--ColorFondo);
} */

/****cuerpo principal****/

main{
  /* border: 3px solid  red; */
  height: 3110px;
  width: 100%px;
}
/* .sectionuno{
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
} */

.articulouno{
  margin: 50px auto;
  position: relative;
  


}

.fotouno{
  width: 600px;
  float:left ;
  border: 2px;
  box-shadow: 2px 2px 10px #000000;
  border-radius: 10px;
  margin-right: 15px;
}

.parrafouno{
  color: rgb(255, 255, 255);
  font-size: 26px;
  text-align: justify;
  position: relative;
  top: 20px;
  left: 0px;
}

.instantefont{
  font-size: 70px;
  font-family: "Futurist fixed-width";
  src: url("../trabajogrupalno23/Fontlucas/FUTRFW.TTF");
}

.instantefont{
  color: white;
}

.articulodos{
  margin-top: 200px;
  margin-bottom: 300px;

}

.fotodos{
  width: 600px;
  float:right ;
  border: 2px;
  box-shadow: 2px 2px 10px #000000;
  border-radius: 10px;
  margin-left: 15px;
}

.parrafodos {
  color: #ffffff;
  font-size: 26px;
  text-align: justify;
  position: relative;
  top: 20%;
}

.fototres{
  width: 600px;
  float:left ;
  border: 2px;
  box-shadow: 2px 2px 10px #000000;
  border-radius: 10px;
  margin-right: 15px;
  position: relative;
  bottom: 250px;

  
}

.parrafotres {
  color: #ffffff;
  font-size: 26px;
  text-align: justify;
  position: relative;
  top: -40px;
}

.youtube{
  border-radius: 15px;
  width: 800px;
  height: 450px;
  position: relative;
  left: 50px;
  top: 38px;
  box-shadow: 2px 2px 10px #000000;

}

.fotocuatro{
  width: 100%;
  border: 2px;
  box-shadow: 2px 2px 10px #000000;
  border-radius: 12px;
  position: relative;
  bottom: 150px
}

.parrafocuatro{
  color: rgb(255, 255, 255);
  font-size: 26px;
  text-align: justify;
  position: relative;
  bottom: 150px
} 

.spotify{
  position: relative;
  top: 30px;
}


 /***** Footer *****/
footer {
  background:  var(--ColorEncabezado);
  position: fixed ; 
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 5%;
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; 
  border-top: 2px solid var(--ColorFuente);

}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials li{
  margin: 0 5px;
}

.socials a i{
  text-decoration: none;
  color: var(--ColorFuente);
  width: 20px;
  /* padding: 10px; */
  transition: all 0.3s;
}

.socials a i:hover{
  color: var(--ColorLink);
  transform: scale(1.25);
}

.derechos p {
  display: flex;
  text-align: justify;  
  font-size: 14px;
  color: var(--ColorFuente);
  padding-left: 30px;
  transition: all 0.3s;
}      


@media (max-width: 800px){
  
  

    .logo-cac{
    padding: 25px 2px 20px 2px;
  }
  .logo-cac a img {
    width: 50px;
  }

  .logo-node{
    padding: 0px;
  }
  .logo-node img{
    padding: 5px 0px 0px 0px;
  }


  .logo-instante img{
    width: 50px;
  }

  .nav-cabecera{
    align-items: center;
  }

  .nav-menu {
    display:contents;
    list-style: none;
  }

  .nav-menu-item {
    font-size: 10px;
    margin: 0px 0px;
    line-height: 0px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
  } 
   
  .derechos p {
    display: flex;
    text-align: justify;  
    font-size: 10px;
    color: var(--ColorFuente);
    padding-left: 30px;
    transition: all 0.3s;
  }     

  main{
    /* border: 3px solid  red; */
    height: 3110px;
    width: 100%;
    box-sizing: border-box;
  }

  .articulouno{
    bottom: 20px;
    top: -20px;
      
  }

  .fotouno{
    width: 100%;
    border: 2px;
    box-shadow: 2px 2px 10px #000000;
    border-radius: 10px;
    margin-right: 0px ;
  }

  .instantefont{
    font-size: 40px;
  }

  .parrafouno{
    font-size: 20px;
    text-align: justify;
    position: relative;
    top: 10px;
    left: 0px;
  }

  .articulodos {
    margin: 30px auto;
  }

  .fotodos{
    width: 100%;
    margin-left: 0px;
  }
  
  .parrafodos {
    font-size: 20px;
    top: 20px;
  }

  .fototres{
    width: 100%;
    position: relative;
    top: 0px;
  }
  
  .parrafotres {
    font-size: 20px;
    top: 20px;
  }

  .youtube{
    border-radius: 15px;
    width: 100%;
    height: 190px;
    position: relative;
    left: 0px;
    top: 40px;
  }

  .fotocuatro{
    top: 70px
  }

  .parrafocuatro{
    font-size: 20px;
    top: 70px
  } 
  
  .spotify{
    position: relative;
    top: 10px;
  }
}